doctype 5
html(lang="en", ng-app="project")
  head
    meta(charset="utf-8")
    meta(name="author", content="James Rowen")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    title Nomoboan - node + mongo + bootstrap + angular testbed
    
    // Bootstrap
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")
    link(href="css/style.css", rel="stylesheet")
    link(href="img/favicon.png", rel="shortcut icon")
    // link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css')
    // link(href='http://fonts.googleapis.com/css?family=Lato:400,' rel='stylesheet' type='text/css')

  body(style="padding-top:40px")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
 
          a.brand(href="#") Nomoboan
 
          // these are collapsed at 940px or less
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
    
    .container(style="margin-top:20px")

      .jumbotron
        h1 Nomoboan
        .lead
          :markdown
            ### (**no**de-**mo**ngo-**bo**otstrap-**an**gular)

            A project seed and testbed for experimenting with various javascript frameworks and libraries.
        p
          a.btn.btn-primary.btn-large(href="#") Do nothing

      hr

      .row-fluid
        .span4.box
          h1 Stack
          ul.unstyled
            li
              a(href="http://nodejs.org/") node
            li
              | - 
              a(href="http://jade-lang.com/") express
            li
              a(href="http://www.mongodb.org/") mongo
            li
              | - 
              a(href="http://www.mongoosejs.com/") mongoose
            li
              a(href="http://angularjs.org/") angular
            li
              a(href="http://twitter.github.com/bootstrap/") bootstrap
            li
              a(href="http://jade-lang.com/") jade
        .span4.box
          h1 Docs
          | Installation:
          ol
            li Install node.js and mongoDB.
            li git clone https://github.com/jamesrowen/Nomoboan.git
            li Run mongod (default port 27017).
            li From Nomoboan directory, run "node app".
            li Open browser to http://localhost:8080
        .span4.box
          h1 Todo
          ul
            li create a directive for editable fields
            li restyle textbox to be less intrusive
            li save the field on blur
            li form validation
            li add pagination and standard height
            li deleting contacts by index is bad, because of the sort
      
      hr

      .row-fluid.contacts(ng-view)
      
      hr
          
      footer
        p 
          | &copy; 
          a(href="mailto:jamesrowen@gmail.com") James Rowen
          |  2013

    script(src="http://code.jquery.com/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js")
    script(src="js/project.js")
