doctype 5
html(lang="en", ng-app="project")
  head
    meta(charset="utf-8")
    meta(name="author", content="James Rowen")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    title Boilerplate
    
    // Bootstrap
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")
    link(href="css/style.css", rel="stylesheet")
    link(href="img/favicon.png", rel="shortcut icon")
    // link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css')
    // link(href='http://fonts.googleapis.com/css?family=Lato:400,' rel='stylesheet' type='text/css')

  body(style="padding-top:40px")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
 
          a.brand(href="#") Boilerplate
 
          // these are collapsed at 940px or less
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
    
    .container(style="margin-top:20px")

      .jumbotron
        h1 Nomoboan
        .lead
          :markdown
            ### (**no**de-**mo**ngo-**bo**otstrap-**an**gular)

            A project seed integrating these technologies and more, plus some other goodies. Extensive tutorial and resource list.
        p
          a.btn.btn-success.btn-large(href="#") Do nothing

      hr

      .row-fluid
        .span4
          h1 Stack
          ul.unstyled
            li
              a(href="http://nodejs.org/") node
            li
              a(href="http://jade-lang.com/") express
            li
              a(href="http://www.mongodb.org/") mongo
            li
              a(href="http://angularjs.org/") angular
            li
              a(href="http://jade-lang.com/") jade
            li
              a(href="http://twitter.github.com/bootstrap/") bootstrap
        .span4
          h1 Docs
          p Coming soon
        .span4
          h1 Cool Stuff
          p asdf
      
      hr

      .row-fluid(ng-controller="ContactsCtrl")
        .span3
          form(ng-submit="addContact()")
            legend Enter a Contact
            label Name
            input(type="text", name="name", placeholder="Joe Shmoe", ng-model="form.name")
            br
            h4 Hello {{form.name}}
            label Email
            input(type="text", name="email", placeholder="joeshmoe@gmail.com", ng-model="form.email")
            br
            button.btn.btn-primary(type="submit") Submit
        .span9
          h2 Contacts ({{contacts.length}})
          hr
          ul
            li(ng-repeat="contact in contacts") {{contact.name}} - {{contact.email}}
      hr
          
      footer
        p &copy; James Rowen 2013

    script(src="http://code.jquery.com/jquery.js")
    script(src="js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js")
    script(src="js/project.js")
