doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="author", content="James Rowen")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    title Boilerplate
    
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/bootstrap-responsive.min.css", rel="stylesheet", media="screen")
    link(rel="shortcut icon", href="../assets/ico/favicon.png")

  body(style="padding-top:40px")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
 
          a.brand(href="#") Boilerplate
 
          // these are collapsed at 940px or less
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#about") About
              li
                a(href="#contact") Contact
    
    .container(style="margin-top:20px")

      // Main hero unit
      .hero-unit
        h1 Welcome
        p This is my boilerplate
        p
          a.btn.btn-primary.btn-large(href="#") Do nothing &raquo;

      // row of columns
      .row
        .span3
          form(action="/", method="post")
            legend Enter a Contact
            label Name
            input(type="text", name="name", placeholder="Joe Shmoe")
            br
            label Email
            input(type="text", name="email", placeholder="joeshmoe@gmail.com")
            br
            button.btn.btn-primary(type="submit") Submit
        .span9
          h2 Contacts
          ul
            each c in contacts
              li #{c.name} - 
                a(href="mailto:#{c.email}") #{c.email}
      hr
          
      footer
        p &copy; James Rowen 2013

    script(src="http://code.jquery.com/jquery.js")
    script(src="js/bootstrap.min.js")